
.product-thumb {
  width: 100%;
  height: 50px; 
  object-fit: cover; 
  display: block;
}

.product-detail-img {
  width: 100%;
  max-width: 300px; 
  height: 200px; 
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}